<div class="row row-cols-1  m-5">
    <div class="align-items-left">
        <h2>Contact</h2>
        <p class="fs-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed euismod neque. Curabitur sodales iaculis libero, at imperdiet neque viverra vel. Mauris augue tellus, sagittis vitae turpis non, iaculis facilisis sapien. Vivamus in nisl nec purus consequat ornare. Nullam ullamcorper tincidunt magna quis fermentum.</p>
    </div>
    </div>

<div class="container  bg-light p-2">
    <div class="row  ">
    <div class="col-md-2 ">
      <label class="col-form-label">Your E-mail</label>
    </div>
    <div class="col-md-9">
      <input type="email" class="form-control" >
    </div>
    <div class="row mt-1 ml-1">
        <div class="col-md-2 ">
          <label  class="col-form-label">Your message</label>
        </div>
        <div class="col-md-9">
          <textarea class="form-control" rows="3"></textarea>
    </div>
    <div class="row">
    <div class="col-md-1 offset-md-10 mt-1">
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </div>
</div>