<!-- your html code here -->
<div style="background-color:white">
    <div class="container py-3">
        <hr>
        <div class="d-flex justify-content-start">
            <img class="rounded-circle me-4" src="./assets/img/2.jpg" height="220px" width="220px">
            <div>
                <p class="fs-1"><strong> Second Heading</strong><small class="fs-1"> Is Pretty Cool Too.</small></p>
                <p>Donec ullamcorper nulla non mentus auctor fringilla. Vestibullum id ligula porta felis euismod
                    semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac
                    cursus commodo.</p>
            </div>
        </div>
    </div>
</div>